/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";

.shadow {
  box-shadow: 5px 5px 5px #888888
}
.shadow:hover {
  box-shadow: 10px 10px 10px #888888
}
.shadow2 {
  box-shadow: 3px 3px 3px #888888
}

.sprintcard {
  border-style: outset;
  min-height:5em;
}

.progress {
  position:relative;
}
.progress span {
  position:absolute;
  left:0;
  width:100%;
  text-align:center;
  margin: auto;
  z-index:2;
  font-size: smaller;
}
.dropzone {
  background-image: image_url('drop.PNG');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
}
table {
  width: 100%;
  table-layout: fixed;
}
td {
  width: 20%
}
#dashboard-wrapper #col {
  border-bottom: 1px solid;
  margin-bottom: 2vh;
}
